{% extends 'layout.html' %}

{% block title%}{{myTask.title}} - Task - {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <form action="{% if taskDetail %} {% url 'taskDetail' myBoard.id myTask.id %} {% else %} {% url 'createTasks' myBoard.id choiceStatId %} {% endif %}" method="POST" class="col-7">   
                {{advice}}
                {% csrf_token %}
                <div class="mb-3">
                    {% if taskDetail %} <!--This code only run through taskDetail-->
                        <input type="text" name="title" id="title" class="h1 border-0 w-100" maxlength="34" placeholder="Untitled"; value="{{myTask.title}}">
                        {% else %} <!--This code only run through createTask-->
                        <input type="text" name="title" id="title" class="h1 border-0 w-100" maxlength="34" placeholder="Untitled">
                    {% endif %}
                </div>
                <div class="mb-3">
                    <div class="row align-items-start my-2">
                        <div class="col">
                            <div class="row">
                                <label for="status" class="fs-6 text-secondary">Status</label>
                            </div>
                            <div class="row">
                                <label for="priority" class="fs-6 text-secondary">Priority</label>
                            </div>
                            <div class="row">
                                <label for="deadline" class="fs-6 text-secondary">Deadline</label>
                            </div>
                        </div> 
                        <div class="col">
                            <div class="row">
                                <select name="status" class="fs-6 border-0" id="status">
                                    {% for status in myStatus %}
                                        {% if status.board == myBoard %}
                                            {% if taskDetail %} <!--This code only run through taskDetail-->
                                                {% if myTask.status.id == status.id %}
                                                    <option value="{{status.id}}" selected>{{status.title}}</option>
                                                {% else %}
                                                    <option value="{{status.id}}">{{status.title}}</option>
                                                {% endif %}
                                            {% else %} <!--This code only run through createTask-->
                                                {% if choiceStatId == status.id %}
                                                    <option value="{{status.id}}" selected>{{status.title}}</option>
                                                {% else %}
                                                    <option value="{{status.id}}">{{status.title}}</option>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <select name="priority" class="fs-6 border-0" id="priority">
                                    {% for val, desc in priorityChoices %}
                                        {% if taskDetail %} <!--This code only run through taskDetail-->
                                            {% if myTask.priority == val %}
                                                <option value="{{val}}" selected>{{desc}}</option>
                                            {% else %}
                                                <option value="{{val}}">{{desc}}</option>
                                            {% endif %}
                                        {% else %} <!--This code only run through createTask-->
                                            <option value="{{val}}">{{desc}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if taskDetail and formatDeadline %}
                                    <input name="deadline" id="deadline" class="fs-6 border-0 ps-3 pe-1" min="{{formatMinDate}}" type="date" value="{{formatDeadline}}">
                                {% else %}
                                    <input name="deadline" id="deadline" class="fs-6 border-0" min="{{formatMinDate}}" type="date">
                                {% endif %}
                            </div>
                        </div> 
                    </div>
                </div>
                <hr>
            <div class="mb-3">
                <textarea name="description" id="description" class="fs-5 border-0 area-input" maxlength="1080" placeholder="Description">{% if taskDetail %}{{myTask.description}}{% endif %}</textarea>
            </div>
            <hr>
            <div class="container text-center">
                <div class="row">
                    <a class="col-1 btn btn-light bg-body mx-5" href="{% url 'tasks' myBoard.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                    </a>
                    <button class="col btn btn-dark mx-5">{% if taskDetail %}Update{% else %}Create{% endif %}</button>
                    {% if taskDetail %}
                        <a class="col-1 btn btn-light bg-body mx-5" href="{% url 'taskDeleted' myBoard.id myTask.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                            </svg>
                        </a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
