{% extends 'layout.html' %}

{% block title%}Home{% endblock %}


{% block content %}
    <div class="row align-items-start my-5">    
        <div class="col">
            <h1 class="display-3 fw-semibold mb-3">A Workspace <br>for Everyone.</h1>
            <p class="fs-4 text-secondary mb-3">The Kanban board is an agile tool for workflow visualization. Kanban is designed to bring clarity to your work and enhance effiency by limiting work in progress.</p>
            <a href="{% url 'signup' %}" class="btn btn-primary fw-semibold fs-5 px-5">Start it up</a>
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}
