{% extends 'layout.html' %}

{% block title%}Home{% endblock %}
    
{% block content %}
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-6 align-self-center">
                <a href="{% url 'home' %}" class="btn fs-3 fw-semibold">Your boards</a>
            </div>
            <div class="col-2 align-self-center">
                <a href="{% url 'createBoard' %}" class="btn btn-dark">New board</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row justify-content-start">
            {% for board in myBoards %}
                <div class="col-sm-3 my-3">
                    <a href="{% url 'tasks' board.id %}" class="btn card text-wrap text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold text-dark">{{board.title}}</h5>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}