{% extends 'layout.html' %}

{% block title%}Tasks{% endblock %}

{% block content %}
    <h1>TASK</h1>
    <a href="{% url 'createTasks' %}">New task</a>
    <p>{{advice}}</p>
    <h2>To Do</h2>
    <ul>
        {% for task in toDoTasks %}
        <li>
            <a href="{% url 'taskDetail' task.id %}">
                <h3>{{task.title}}</h2>
                <p>{{task.description}}</p>
                <p class="{% if task.priority == 'High' %} text-danger {% elif task.priority == 'Medium' %} text-warning {% else %} text-success {% endif %}">{{task.priority}}</p>
                <p><b>{{task.user.username}}</b></p>
            </a>
        </li>
        {% endfor %}
    </ul>
    <h2>Done</h2>
    <ul>
        {% for task in doneTasks %}
        <li>
            <a href="{% url 'taskDetail' task.id %}">
                <h3>{{task.title}}</h2>
                <p>{{task.description}}</p>
                <p><b>{{task.user.username}}</b></p>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}